form {
  justify-content: space-evenly;
  width: 450px;
  margin: 20px auto;
  position: relative;
  display: flex;
}

input {
	border-radius: 30px;
	border: 2px solid #232323;
	width: 200px;
	padding: 8px;
	font-size: 1rem;
  outline: none;
}

.search-btn {
  border-radius: 30px;
  height: 31px;
  margin-left: -43px;
  margin-top: 3px;
  position: absolute;
  width: 40px;
}

.fa-search {
	font-size: 1rem;
}


.styled-select {
	border: 2px solid #232323;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 93% 0;
  height: 37px;
  overflow: hidden;
  width: 200px;
  border-radius: 20px;
	background-color: white;
}

.styled-select select {
	background: transparent;
	border: none;
	font-size: 14px;
	height: 32px;
	outline: none;
	width: 268px;
}
