.list-container {
	display: grid;
	grid-template-rows: 77px 216px 1fr;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.header {
	display: flex;
	align-items: center;
	font-size: 12rem;
	margin: 10px auto;
}
