form {
	margin: 20px auto;
	position: relative;
}

input {
	border-radius: 30px;
	border: 2px solid #232323;
	width: 200px;
	padding: 8px;
	font-size: 1rem;
  outline: none;
}

.search-btn {
  box-shadow: none;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  height: 31px;
  margin-left: -43px;
  margin-top: 3px;
  position: absolute;
  width: 40px;
}

.fa-search {
	font-size: 1rem;
}


