.splash-text {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 650px;
	position: absolute;
	z-index: 2;
}

.splash-btn {
  background-color: #A7FFC0;
  border-radius: 30px;
  box-shadow: 1px 1px 2px 0px #00000057;
  font-size: 1rem;
  font-weight: bold;
  margin: 22px auto;
  padding: 8px;
  width: 175px;
  outline: none;
}

.fa-caret-right {
	margin-left: 3px;
}