{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true
    },
    "extends": "airbnb",
    "rules": {
     "max-len": ["error", { "code": 160 }],
      "import/prefer-default-export": 0,
      "react/jsx-no-bind": 0,
      "no-shadow": 0,
      "react/no-access-state-in-setstate": 0,
      "jsx-a11y/click-events-have-key-events": 0,
      "arrow-parens": 0,
      "indent": [2, "tab"],
      "func-names": 0,
      "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "comma-dangle": ["error", "never"],
      "max-lines-per-function": ["error", 160],
      "semi": ["error", "never"],
      "no-param-reassign": [2, { "props": false }],
      "react/destructuring-assignment": [<enabled>, 'never'],
      "arrow-body-style": 0,
      "react/jsx-one-expression-per-line": [<enabled>, { "allow": "single-child" }],
      "no-else-return": ["error", {allowElseIf: true}],
      "react/prop-types": 0,
      "react/jsx-indent": [2, "tab"],
      "react/jsx-indent-props": [2, "tab"],
      "no-tabs": 0,
      "import/no-named-as-default": 0,
    }
}




